@font-face {
    font-family: "Poppins";
    src: url(/fonts1/Poppins/Poppins-Medium.ttf);
  }

@font-face {
    font-family: "Poppins regular";
    src: url(/fonts1/Poppins/Poppins-Regular.ttf);
  }

@font-face {
    font-family: "Poppins semibold";
    src: url(/fonts1/Poppins/Poppins-SemiBold.ttf);
  }
 
  * {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *,
  *::before,
  *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  /*Убираем линии обводки некоторых браузеров*/
  :focus,
  :active {
    outline: none;
  }
  
  a:focus,
  a:active {
    outline: none;
  }
  
  /*задаем блочными теги Html5*/
  nav,
  footer,
  header,
  aside {
    display: block;
  }
  
  html,
  body {
    /* font-family: "Lato", sans-serif; */
    height: 100%;
    width: 100%;
    /* line-height: 30px;
    font-size: 20px; */
    /* color: #1e1744; */
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  /*задаем наследование шрифтов*/
  input,
  button,
  textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a,
  a:visited {
    text-decoration: none;
    /* color: #292929; */
  }
  

  a:hover {
    text-decoration: none;
    color: #808080;
  }
  
ul li {
    list-style: none;
  }
  
img {
    vertical-align: top;
  }

.container {
    margin: 0 auto;
    max-width: 1024px;
  }
  

.flex-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 106px;
  }
  
.header {
    padding: 26px;
  }


  
nav a {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  color: #263238;
  letter-spacing: 0.4px;
  margin-right: 40px;
  font-size: 16px;
  line-height: 24px;
  }

nav a:last-child {
    margin-right: 0;
  }

.logo{
  width: 10%;
}

.button0 {
    background: #ffffff;
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 17px 55px;
    font-family: 'Poppins regular';
    font-style: normal;
    letter-spacing: 0.72px;
    color: #000000;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
  }

.item {
    width: 50%;
    margin: 0 auto;
  }

.flex-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    }

.lamp {
  display: flex;
  margin-bottom: 40px;
}

.lampochka {
  margin-top: 80px;
  margin-left: 15px;
  width: 20%;
}

p {
  font-family: 'Poppins regular';
  font-style: normal;
  color: #8F95A5; 
  padding-bottom: 61px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px; 
}

.LL{
  width: 105%;
}

.button1{
  background: #263238;
  border-radius: 15px;
  padding: 22px 78px;
  font-family: 'Poppins regular';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
  cursor: pointer;  
}

.bro {
  padding-bottom: 50px;
  max-width: 315px;
  width: 100%;
}

.sec-2 {
  text-align: center;
  margin-top: 103px;
}

.skills {
  margin-bottom: 119px;
}

.flex-card1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

h2 {
font-family: 'Poppins semibold';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 80px;
color: #000000;
}

.item1 {
  width: 30%;
  justify-content: space-between;
  text-align: left;
  background: #F5F5F5;
  padding: 35px 23px 92px 50px;
  border-radius: 10px;
  margin-right: 18px;
}

p1 {
font-family: 'Poppins semibold';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 80px;
color: #263238;
text-align: left;
}

p2 {
  font-family: 'Poppins regular';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #8F95A5;
}

.button2 {
  background: #263238;
  border-radius: 5px;
  padding: 16px 41px;
  display: flex;
  font-family: 'Poppins';
  font-style: normal;
  font-size: 17px;
  line-height: 27px;
  color: #FFFFFF;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
  
}

.item2 {
  width: 60%;
  background: #F5F5F5;
  padding: 4px 0px 44px 41px;
  border-radius: 10px;
  margin-right: 18px;
  margin-bottom: 18px;
}

.item2_1 {
  width: 60%;
  padding: 44px 40px;
  background: #F5F5F5;
  padding: 4px 0px 44px 41px;
  border-radius: 10px;
  margin-bottom: 18px;
}

.bigcont {
  display: flex;
}

.bigcont_cont2 {
  display: flex;
  flex-direction: column;
}
.bigcont_cont2_1{
  display: flex;
  flex-direction: row;
}

.bigcont_cont2_2 {
  display: flex;
  flex-direction: column;
}
.item3{
  justify-content: space-between;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: row;
  padding: 43px 0px 44px 48px;
}

.button3 {
  top: 46%;
  left: 4%;
  background: #263238;
  border-radius: 5px;
  width: 196px;
  height: 57px;
  display: flex;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.kartinka {
  width: 90%;
}

.writer {
  padding-left: 80px;
  padding-bottom: 4px; 
  width: 90%;
}

.book {
  padding-bottom: 30px;
  width: 70%;
}

.about {
  margin-bottom: 30px;
}

.item4 {
  width: 60%;
  margin-top: 258px;
}

.res{
  width: 105%;
}

.dan{
  display: flex;
  align-items: left;
}

.item4_21 {
  margin-top: 30px;
  padding-right: 144px;
  text-align: center;
}

.item4_22 {
  margin-top: 30px;
  padding-right: 89px;
  text-align: center;
}

.item4_23 {
  margin-top: 30px;
  text-align: center;
}

.mount{
  width: 145%;
}

.item4_3 {
  width: 30%;
  margin-top: 258px;
  margin-right: 150px;
}

.flex-card3 {
  display: flex;
  justify-content: space-between;
}

p3 {
font-family: 'Poppins regular';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #8F95A5;
}


p4 {
font-family: 'Poppins semibold';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 80px;
color: #2A3246;
}

.sec-4 {
  text-align: center;
  margin-top: 221px;
}

.cards {
  display: flex;
  width: 30%;
  margin-top: 70px;
}

.price {
  text-align: left;
  margin-right: 45px;
  min-width: 350px;
}

p5 {
  font-family: 'Poppins semibold';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 100px;
  color: #263238;
  text-align: left;
}

.button4 {
  background: #EEEEEE;
  border-radius: 5px;
  width: 250px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 34px;
}

.button4_1 {
  background: #EEEEEE;
  border-radius: 5px;
  width: 250px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 34px;
}

.button4_2 {
  background: #EEEEEE;
  border-radius: 5px;
  width: 250px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

p6{
font-family: 'Poppins regular';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
color: #263238;
}

p7{
font-family: 'Poppins regular';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #546269;
padding-left: 10px;
}

.test{
  width: 55%;
}
.les{
  width: 75%;
}

.web {
  width: 66%;
}

input[type=text]{
  margin-top: 52px;
  font-family: 'Poppins regular';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #8F95A5;
  border-radius: 10px;
  padding: 26px 26px 30px 33px;
  margin-bottom: 20px;
  min-width: 370px;
  display: inline-block;
  border: 2px solid #8F95A5;
}

.button5{
  background: #263238;
  border-radius: 10px;
  padding: 25px 80px;
  font-family: 'Poppins regular';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  cursor: pointer;
  animation: button5 2s infinite;
}

.item4_24 {
  margin-top: 53px;
  margin-left: 10px;
  text-align: center;
}

.niz{
  width: 86%;
  margin-top: 133px;
  align-items: center;
  padding-left: 15%;
}

.niztext{
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 100px;
}

p8{
  margin-top: 55px;
  font-family: 'Poppins regular';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8F95A5; 
}


.info:hover, .info:focus, .info:active{
  border-radius: 4px;
  background: #FFFFFF;
}

.info {
  filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.07));
  position: relative;
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 24px;
  padding: 32px 32px 32px 32px;
}

.info__switch {
  display: none;
}

.finlog {
  width: 85%;
}

.info__body {
  max-height: 0;
  overflow: hidden;
  position: relative;
  transition: 0.4s;
}

.info__switch:checked~.info__body {
  max-height: 100px;
}

.info__switch:checked~.knopkado {
  transform: rotate(180deg);
}

.info__switch:checked~.info__headline::before {
  transform: rotate(180deg) translateY(6px);
}

.info__headline {
  position: relative;

  font-family: 'Poppins semibold';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 90px;
  color: #263238;
  text-align: left;
}

.info__headline:hover {
  text-decoration: underline;
}

.info__switch:hover .knopkado{
  transform: rotate(180deg) 
}

.button5:hover {
	animation: none;
}
 
@keyframes button5 {
	0% {
		transform: scale3d(1, 1, 1);
	}
	50% {
		transform: scale3d(1.05, 1.05, 1.05);
	}
	100% {
		transform: scale3d(1, 1, 1);
	}
}






@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
  nav a {
    font-size: 11px;
  }

  .button0 {
    font-size: 12px;
    padding: 11px 36px;
  }
  .finlog {
    width: 75%;
  }

  h1{
    font-size: 36px;
    line-height: 45px;
  }
  .lampochka {
    width: 18%;
    margin-top: 70px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 41px;
  }
  .button1{
    padding: 19px 67px;
    font-size: 18px;
    line-height: 27px;  
  }
  .lamp {
    margin-bottom: 25px;
  }
  h2 {
    font-size: 30px;
    line-height: 80px;
  }
  .sec-2 {
    margin-top: 56px;
  }
  .skills {
    margin-bottom: 58px;
  }
  p1{
    font-size: 20px;
    line-height: 80px;
  }
  p2{
    font-size: 10px;
    line-height: 20px;
  }

  .bro {
    width: 110%;
  }
  .button2 {
    min-width: 178px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 36px;
    padding: 14px 43px;
  }
  .button3 {
    min-width: 178px;
    height: 50px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 36px;
    padding: 14px 43px;
  }
  .writer {
    width: 95%;
  }
  .book {
    padding-bottom: 10px;
    width: 70%;
  }

  .item3{
    padding: 48px
  }

  .kartinka {
    width: 100%;
  }

  .item1 {
    padding: 35px 35px 92px 30px;
  }

  .item2 {
    padding: 4px 5px 60px 18px;
  }
  
  .item2_1 {
    padding: 4px 5px 0px 18px;
  }

  .item4 {
    margin-top: 158px;
  }

  .about {
    margin-bottom: 23px;
  }

  p3 {
    font-size: 13px;
    line-height: 21px;
  }

  p4 {
    font-size: 22px;
  }

  .item4_21 {
    margin-top: 10px;
    padding-right: 72px;
    margin-left: 12px;
  }
  
  .item4_22 {
    margin-top: 10px;
    padding-right: 59px;
  }
  
  .item4_23 {
    margin-top: 10px;
  }

  .item4_3 {
    width: 25%;
    margin-top: 198px;
  }

  .sec-4 {
    margin-top: 121px;
  }

  .cards {
    margin-top: 35px;
  }
  .price {
    margin-right: 45px;
    min-width: 250px;
  }

  .info__headline {
    padding-top: 140px;
    font-size: 20px;
    line-height: 34px;
  }
  .button4 {
    width: 205px;
  }
  
  .button4_1 {
    width: 205px;
  }
  
  .button4_2 {
    width: 205px;
  }

  p6{
    font-size: 24px;
    line-height: 36px;
  }
    
  p7{
    font-size: 16px;
    line-height: 24px;
  }

  
  input[type=text]{
    margin-top: 34px;
    font-size: 14px;
    line-height: 21px;
    padding: 16px 2px 16px 33px;
    min-width: 260px;
  }

  .button5{
    padding: 15px 45px;
  }

  .item4_24 {
    margin-top: 35px;
    margin-left: 10px;
  }

  .res{
    width: 145%;
  }

  .niz{
    width: 90%;
    padding-left: 10%;
  }
  
  .niztext{
    margin-top: 35px;
    padding-bottom: 40px;
  }
  
  p8{
    margin-top: 35px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }
  nav a {
    font-size: 11px;
  }

  .button0 {
    font-size: 12px;
    padding: 11px 36px;
  }
  .finlog {
    width: 75%;
  }

  h1{
    font-size: 36px;
    line-height: 45px;
  }
  .lampochka {
    width: 18%;
    margin-top: 70px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 41px;
  }
  .button1{
    padding: 19px 67px;
    font-size: 18px;
    line-height: 27px;  
  }
  .lamp {
    margin-bottom: 25px;
  }
  h2 {
    font-size: 30px;
    line-height: 80px;
  }
  .sec-2 {
    margin-top: 56px;
  }
  .skills {
    margin-bottom: 58px;
  }
  p1{
    font-size: 20px;
    line-height: 80px;
  }
  p2{
    font-size: 10px;
    line-height: 20px;
  }

  .bro {
    width: 110%;
  }
  .button2 {
    min-width: 178px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 36px;
    padding: 14px 43px;
  }
  .button3 {
    min-width: 178px;
    height: 50px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 36px;
    padding: 14px 43px;
  }
  .writer {
    width: 95%;
  }
  .book {
    padding-bottom: 10px;
    width: 70%;
  }

  .item3{
    padding: 48px
  }

  .kartinka {
    width: 100%;
  }

  .item1 {
    padding: 35px 35px 92px 30px;
  }

  .item2 {
    padding: 4px 5px 60px 18px;
  }
  
  .item2_1 {
    padding: 4px 5px 0px 18px;
  }

  .item4 {
    margin-top: 158px;
  }

  .about {
    margin-bottom: 23px;
  }

  p3 {
    font-size: 13px;
    line-height: 21px;
  }

  p4 {
    font-size: 22px;
  }

  .item4_21 {
    margin-top: 10px;
    padding-right: 72px;
    margin-left: 12px;
  }
  
  .item4_22 {
    margin-top: 10px;
    padding-right: 59px;
  }
  
  .item4_23 {
    margin-top: 10px;
  }

  .item4_3 {
    width: 25%;
    margin-top: 198px;
  }

  .sec-4 {
    margin-top: 121px;
  }

  .cards {
    margin-top: 35px;
  }
  .price {
    margin-right: 45px;
    min-width: 250px;
  }

  .info__headline {
    padding-top: 140px;
    font-size: 20px;
    line-height: 34px;
  }
  .button4 {
    width: 205px;
  }
  
  .button4_1 {
    width: 205px;
  }
  
  .button4_2 {
    width: 205px;
  }

  p6{
    font-size: 24px;
    line-height: 36px;
  }
    
  p7{
    font-size: 16px;
    line-height: 24px;
  }

  
  input[type=text]{
    margin-top: 34px;
    font-size: 14px;
    line-height: 21px;
    padding: 16px 2px 16px 33px;
    min-width: 260px;
  }

  .button5{
    padding: 15px 45px;
  }

  .item4_24 {
    margin-top: 35px;
    margin-left: 10px;
  }

  .res{
    width: 145%;
  }

  .niz{
    width: 90%;
    padding-left: 10%;
  }
  
  .niztext{
    margin-top: 35px;
    padding-bottom: 40px;
  }
  
  p8{
    margin-top: 35px;
  }
}